@font-face {
    font-family: face;
    src: url(../Font/Satoshi-Black.woff);
}

// ******************************************************************** VARIABLES

// font

$font-size-titel: 30px;
$font-size-text: 16px;
$font-color-light: #d2d7dd;
$font-color-dark: #202124;

// colors

$color-background-light: #fafaf2;
$color-background-dark: #28282b;

$color-element-red: #bf484e;
$color-element-purple: #6e408a;
$color-element-sand: #fad5a5;

// transition

$transition-duration: 0.5s;
$transition-delay: 0.1s;
$transition: all 1s;

@mixin flexCenter {
    justify-content: center;
    align-items: center;
    text-align: center;
}

// ******************************************************************** ...

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
    font-family: face;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #212121;
}

// ******************************************************************** ...

#events {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 50px 100px;
    background-color: #232323;

    .event {
        width: 100%;
        height: 20vh;

        display: flex;

        .date {
            width: 20%;
            height: 100%;
            margin-right: 100px;
            padding: 20px 30px;
            background: linear-gradient(to right bottom, #840a0a, #a21313);
            display: flex;
            @include flexCenter();

            font-size: 1.8vw;
            text-transform: uppercase;
            font-weight: bold;
            color: white;
        }

        .info {
            display: flex;
            flex-direction: column;
            @include flexCenter();
            align-items: flex-start;

            font-size: 2vw;
            text-transform: none;
            font-weight: bold;
            color: white;

            padding: 20px 30px;
            width: 80%;
            background: linear-gradient(to left bottom, #840a0a, #a21313);

            h2{
                transform: translateY(-20px);
                text-transform: uppercase;
            }
        }
    }
}

// ******************************************************************** ...

@media screen and (max-width: 600px) {
}
