@font-face {
    font-family: face;
    src: url(../);
}

// ******************************************************************** VARIABLES

// font

$font-size-titel: 30px;
$font-size-text: 16px;
$font-color-light: #d2d7dd;
$font-color-dark: #202124;

// colors

$color-background-light: #fafaf2;
$color-background-dark: #28282b;

$color-element-red: #bf484e;
$color-element-purple: #6e408a;
$color-element-sand: #fad5a5;

// transition

$transition-duration: 0.5s;
$transition-delay: 0.1s;
$transition: all 1s;

// ******************************************************************** ...

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: $color-element-sand;
}

// ******************************************************************** ...

@media screen and (max-width: 600px) {
}
