@font-face {
    font-family: face;
    src: url(../);
}

// ******************************************************************** VARIABLES

// font

$font-size-titel: 30px;
$font-size-text: 16px;
$font-color-light: #d2d7dd;
$font-color-dark: #202124;

// colors

$color-background-light: #fafaf2;
$color-background-dark: #28282b;

$color-element-red: #bf484e;
$color-element-purple: #6e408a;
$color-element-sand: #fad5a5;

// transition

$transition-duration: 0.5s;
$transition-delay: 0.1s;
$transition: all 1s;

@mixin flexCenter {
    justify-content: center;
    align-items: center;
    text-align: center;
}

// ******************************************************************** ...

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: $color-element-purple;
}

// ******************************************************************** ...

#bumper {
    display: flex;
    width: 100%;
    height: 100vh;
    @include flexCenter();
    overflow: hidden;

    video {
        width: auto;
        height: 100%;
        position: relative;
        object-fit: cover;
        object-position: center;
    }

    h1 {
        position: absolute;
        color: white;
        font-size: 7vw;
        animation: fadeIn 30s ease-in-out infinite, glitch 15s ease-in-out infinite;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 1;
    }
    14% {
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    16% {
        opacity: 0;
    }
    17% {
        opacity: 1;
    }
    18% {
        opacity: 0;
    }
    19% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }
    45% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }

    76% {
        opacity: 0;
    }
    77% {
        opacity: 1;
    }
    78% {
        opacity: 0;
    }
    79% {
        opacity: 1;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes glitch {
    16% {
        transform: scale(-1, 1);
        color: #db2ca0;
        font-size: random($limit: 2);
    }
    17% {
        transform: scale(1, 1);
        color: #00d5ff;
    }
    18% {
        transform: scale(1, -1);
        color: #00d5ff;
    }
    19% {
        transform: scale(-1, -1);
        color: #db2ca0;
    }
    20% {
        transform: scale(1, 1);
        color: white;
    }

    76% {
        color: #db2ca0;
    }
    77% {
        color: #00d5ff;
    }
    78% {
        transform: scale(-1, -1);
        color: #00d5ff;
    }
    79% {
        color: #db2ca0;
    }
    80% {
        transform: scale(1, 1);
        color: white;
    }
}

// ******************************************************************** ...

@media screen and (max-width: 600px) {
}
